/* #region commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sr-black: rgb(0, 0, 0); 
    --sr-white: rgb(255, 255, 255); 
    --sr-dark: rgb(51, 51, 51);
    --sr-primary-dark: rgb(0, 132, 253);
    --sr-primary-light: rgb(181, 221, 255);
    --sr-section: rgb(151, 146, 228);
    --sr-danger: rgb(253, 193, 95);
}

body {
    font-family: 'PT Sans', sans-serif;
}

header {
    background-color: var(--sr-primary-dark);
    color: var(--sr-white);
}

footer {
    background-color: var(--sr-dark);
    color: var(--sr-white);
}

a {
    color: var(--sr-white);
    text-decoration: none;
}

img {
    max-width: 100%;
}
/* #endregion commons */





/* #region header */

.left_nav, .right_nav {
    padding: 1rem 0;
}

/* #endregion header */





/* #region main */
#planning, #benefits, #start{
    background-color: var(--sr-section);
}


/* #application */

#application .card {
    background-color: var(--sr-primary-light);
    padding: 1rem 1rem 0 1rem;
    border-radius: 1rem;
    height: 100%;
}
 #application .row {
    margin: 0 -1.5rem;
}

#application .col-12 {
    padding: 0 1.5rem;
    margin: 1rem 0;
} 


#application h3, #application i {
    color: var(--sr-primary-dark);
}

#application p {
    padding: 2rem 0;
}

#application img {
    padding-top: 3rem;
    display: block;
}

#application .btn {
    padding-bottom: 2rem;
}

#application .btn a {
    display: block;
    width: 80%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
}

#application .btn a span {
    padding: 0 1rem;
}

#application .col-4-md .icon {
    padding: 2rem 0;
    font-size: 3rem;
}

#application h3 {
    font-size: 1.5rem;
}



/* #planning */
#planning {
    color: var(--sr-white);
}

#planning h2 {
    font-size: 2rem;
    padding: 3rem 0;
}

.develop {
    background-color: var(--sr-white);
    color: var(--sr-black);
    margin-top: 2rem;
    border-radius: 2rem;
    padding: 2rem 0;
}

.develop h3 {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.develop p {
    font-style: italic;
    font-size: 1.1rem;
}

.develop .icon {
    margin-top: 2rem;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: var(--sr-section);
    padding: 1rem;
    border-radius: 50%;
}




/* #testimonials */


#testimonials span {
    text-transform: uppercase;
}

#testimonials h3 {
    color: var(--sr-section);
    font-size: 2rem;
    padding: 2rem;
}

#testimonials p {
    padding-bottom: 3rem;
    padding: 0 1rem 3rem 1rem;
}

#testimonials .card {
    background-color: var(--sr-section);
    color: var(--sr-white);
    margin-bottom: 2rem;
    border-radius: 2.5rem;
    
}

#testimonials .card img {
    margin: 1.5rem 1rem;
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

#testimonials .card span {
    display: block;
    padding-bottom: 1.5rem;
    font-weight: bold;
}




/* #benefits */


#benefits .col-12 {
    background-color: var(--sr-white);
}



/* #endregion main */





/* #region footer */

.footer_top, .footer_bottom {
    padding: 2rem 0;
}


/* #endregion footer */



/* #region utilities */

/* flex */
.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.gap-2 {
    gap: 1rem;
}

.container-centered-sm {
    width: 90%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.list-unstyled {
    list-style: none;
}

.text-center {
    text-align: center;
}

.d-none {
    display: none;
}

.col-12 {
    width: 100%;
}

.py-4 {
    padding: 2rem 0;
}

.btn a {
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
}

.btn-light a {
    background-color: var(--sr-white);
    color: var(--sr-black);
}

.btn-blue a {
    background-color: var(--sr-primary-dark);
    color: var(--sr-white);
}

#application .btn-blue a i {
    color: var(--sr-white);
}

/* #endregion utilities */

/* #region media query */

@media screen and (min-width: 768px) {
    .col-3-md {
        width: calc(100% / 12 * 3);
    }

    .col-4-md {
    width: calc(100% / 12 * 4);
    }

    .col-8-md {
        width: calc(100% / 12 * 8);
    }

    .col-6-md {
        width: calc(100% / 12 * 6);
    }

    #testimonials .card {
        display: flex;
        text-align: left;
    }

    .container-small-centered-lg {
        width: 60%;
        margin: auto;
    }

    #testimonials p {
        padding: 1rem 0;
    }

    #testimonials .card .col-8-md {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1rem;
    }

    #testimonials .card img {
        width: 80%;
    }

}

@media screen and (min-width: 1200px) {
    .right_nav .d-lg-none {
        display: none;
    }

    .right_nav .d-lg-block {
        display: block;
    }

    .container-centered-lg {
        width: 70%;
        max-width: 1152px;
    }

    #application .col-8-md .card {
        display: flex;
    }

    #testimonials .card {
        display: flex;
    }

    .col-2-lg {
        width: calc(100% / 12 * 2);
    }

    .col-4-lg {
        width: calc(100% / 12 * 4);
    }

    .col-6-lg {
        width: calc(100% / 12 * 6);
    }

    .container-small-centered-lg {
        width: 40%;
        margin: auto;
    }

    #planning .img-left {
        padding-top: 4rem;
    }

    #planning h2 {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    .develop {
        padding: 2rem;
    }

    #planning .card {
        padding: 10rem 3rem 0 3rem;
    }
}


/* #endregion media query */





/* #region debug */

.debug header {
    border: 1px dashed;
}

.debug .col-12 {
    min-height: 200px;
    border: 1px dashed;
}


/* #endregion debug */



