/* #region commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sr-black: rgb(0, 0, 0); 
    --sr-white: rgb(255, 255, 255); 
    --sr-dark: rgb(51, 51, 51);
    --sr-primary-dark: rgb(0, 132, 253);
    --sr-primary-light: rgb(181, 221, 255);
    --sr-section: rgb(151, 146, 228);
    --sr-danger: rgb(253, 193, 95);
}

body {
    font-family: 'PT Sans', sans-serif;
}

header {
    background-color: var(--sr-primary-dark);
    color: var(--sr-white);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;
}

footer {
    background-color: var(--sr-dark);
    color: var(--sr-white);
}

a {
    color: var(--sr-white);
    text-decoration: none;
}

img {
    max-width: 100%;
}
/* #endregion commons */





/* #region header */

.right_nav .nav_links > li {
    padding: 2rem 0;
}

.nav_links > li {
    position: relative;
}

.nav_links h4 {
    padding-bottom: 1rem;
}


.nav_links .col-6 li a {
    display: block;
    padding: 1rem;
}

.nav_links .col-6 h4 {
    padding: 0 1rem;
}
.nav_links .col-6 li a:hover {
    background-color: var(--sr-white);
    color: var(--sr-primary-dark);
}

.hidden_menu_planning, .hidden_menu_testimonials, .hidden_menu_feature, .hidden_menu_about {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--sr-primary-dark);
}

.li_planning:hover .hidden_menu_planning, .li_testimonials:hover .hidden_menu_testimonials, .li_feature:hover .hidden_menu_feature, .li_about:hover .hidden_menu_about  {
    display: block;
    min-width: 500px;
}


/* #endregion header */





/* #region main */
#planning, #benefits, #start{
    background-color: var(--sr-section);
}


/* #application */

#application .card {
    background-color: var(--sr-primary-light);
    padding: 1rem 1rem 0 1rem;
    border-radius: 1rem;
    height: 100%;
}
 #application .row {
    margin: 0 -1.5rem;
}

#application .col-12 {
    padding: 0 1.5rem;
    margin: 1rem 0;
} 


#application h3, #application i {
    color: var(--sr-primary-dark);
}

#application p {
    padding: 2rem 0;
    line-height: 1.75rem;
}

#application img {
    display: block;
    width: 60%;
}

#application .image {
    align-self: flex-end;
}

#application .btn {
    padding-bottom: 2rem;
}

#application .btn a {
    display: block;
    width: 80%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
}

#application .btn a span {
    padding: 0 1rem;
}

#application .col-4-md .icon {
    padding: 2rem 0;
    font-size: 3rem;
}

#application h3 {
    font-size: 1.5rem;
}



/* #planning */
#planning {
    color: var(--sr-white);
}

#planning h2 {
    font-size: 2rem;
    padding: 3rem 0;
}

.develop {
    background-color: var(--sr-white);
    color: var(--sr-black);
    margin-top: 2rem;
    border-radius: 2rem;
    padding: 2rem 0;
}

.develop h3 {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.develop p {
    font-style: italic;
    font-size: 1.1rem;
}

.develop .icon a {
    margin-top: 2rem;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: var(--sr-section);
    color: var(--sr-black);
    padding: 1rem;
    border-radius: 50%;
}


/* #testimonials */


#testimonials span {
    text-transform: uppercase;
}

#testimonials h3 {
    color: var(--sr-section);
    font-size: 2rem;
    padding: 2rem;
}

#testimonials p {
    padding-bottom: 3rem;
    padding: 0 1rem 3rem 1rem;
}

#testimonials .card {
    background-color: var(--sr-section);
    color: var(--sr-white);
    margin-bottom: 2rem;
    border-radius: 2.5rem;
    
}

#testimonials .card img {
    margin: 1.5rem 1rem;
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

#testimonials .card span {
    display: block;
    padding-bottom: 1.5rem;
    font-weight: bold;
}




/* #benefits */

#benefits h3 {
    color: var(--sr-white);
    font-size: 2rem;
    padding-bottom: 2rem;
}

#benefits .card{
    padding: 2rem;

    background-color: var(--sr-white);
    border-radius: 1.5rem;
}

#benefits .col-12 {
    padding: 1rem;
}

#benefits .row {
    margin: 0 -1rem;
}

#benefits .card span, #benefits .card h4 {
    color: var(--sr-section);
}

#benefits .card > span {
    font-size: 3rem;
    font-weight: bold;
}

#benefits .card > h4 {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
}



/* #about */
#about h2 {
    color: var(--sr-section);
    font-size: 2.5rem;
    padding: 2rem 0;
}

#about p {
    padding: 2rem 0;
    line-height: 1.75rem;
}

#about img {
    max-width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

#about h4 {
    color: var(--sr-section);
    font-size: 2rem;
}

#about .col-4-md {
    position: relative;
}

#about .apex {
    position: absolute;
    top: -1rem;
    right: 50%;
    font-size: 5rem;
    color: var(--sr-section);
}





/* #start */

#start .get_started {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
}

#start .simple {
    font-weight: bold;
    font-size: 2rem;
    color: var(--sr-white);
    padding-bottom: 2rem;
}

#start .free {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--sr-danger);
    padding-bottom: 2rem;
}

#start p {
    line-height: 1.5rem;
    color: var(--sr-white);
    padding-bottom: 3rem;
}

#start .copyright {
    color: var(--sr-white);
    padding-bottom: 3rem;
}

#start .copyright a {
    text-decoration: underline;
}

#start .copyright span::before, #start .copyright span::after {
    content: '';
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    vertical-align: middle;
    background-color: var(--sr-white);
    border-radius: 50%;
    margin: 0 0.25rem;
}

/* #endregion main */





/* #region footer */

.footer_top, .footer_bottom {
    padding: 3rem 2rem;
}

.footer_bottom a {
    text-decoration: underline;
    color: var(--sr-section);
}


/* #endregion footer */



/* #region utilities */

/* flex */
.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.gap-2 {
    gap: 1rem;
}

.container-centered-sm {
    width: 90%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.list-unstyled {
    list-style: none;
}

.text-center {
    text-align: center;
}

.d-none {
    display: none;
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-12 {
    width: 100%;
}

.py-4 {
    padding: 2rem 0;
}




/* buttons */
.btn a {
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
}

.btn-light a {
    background-color: var(--sr-white);
    color: var(--sr-black);
    transition: all 0.3s;
}

.btn-light a:hover {
    background-color: var(--sr-black);
    color: var(--sr-white);
}

.btn-blue a {
    background-color: var(--sr-primary-dark);
    color: var(--sr-white);
    transition: all 0.3s;
}

.btn-blue a:hover {
    background-color: var(--sr-white);
    color: var(--sr-primary-dark);
}

#application .btn-blue a i {
    color: var(--sr-white);
    transition: all 0.3s;
}

#application .btn-blue a:hover i {
    color: var(--sr-primary-dark);
    transition: all 0.3s;
}

#benefits .card .btn-violet a {
    background-color: var(--sr-section);
    padding:0.75rem 3.5rem;
    transition: all 0.3s;
}

#benefits .card .btn-violet a:hover, #about .btn-violet a:hover {
    background-color: rgb(117, 117, 255);
    color: var(--sr-white);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

#benefits .card .btn-violet {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#about .btn-violet a {
    background-color: var(--sr-section);
    transition: all 0.3s;
}

#about .btn-violet {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#start .btn-violet-reverse a {
    display: block;
    background-color: var(--sr-white);
    color: var(--sr-section);
    font-weight: bold;
    font-size: 1.1rem;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    transition: all 0.3s;
}

#start .btn-violet-reverse a:hover {
    background-color: var(--sr-danger);
}

#start .btn-violet-reverse {
    width: 80%;
    margin: auto;
    padding-bottom: 2rem;
}

/* #endregion utilities */



/* #region media query */

@media screen and (min-width: 768px) {
    .col-3-md {
        width: calc(100% / 12 * 3);
    }

    .col-4-md {
    width: calc(100% / 12 * 4);
    }

    .col-8-md {
        width: calc(100% / 12 * 8);
    }

    .col-6-md {
        width: calc(100% / 12 * 6);
    }

    #testimonials .card {
        display: flex;
        text-align: left;
    }

    .container-small-centered-lg {
        width: 60%;
        margin: auto;
    }

    #testimonials p {
        padding: 1rem 0;
    }

    #testimonials .card .col-8-md {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1rem;
    }

    #testimonials .card img {
        width: 80%;
    }

    #about p {
        padding-right: 4rem;
    }

    #about img {
        max-width: 100%;
    }

    #about .col-4-md {
        padding: 2rem;
    }

    #about .apex {
        right: 1.5rem;
        top: 0.75rem;
    }

    #start .btn-violet-reverse {
        width: auto;
        display: inline-block;
    }

    #start .btn-violet-reverse a {
       padding: 1rem 5rem;
    }
    


}

@media screen and (min-width: 1200px) {
    .right_nav .d-lg-none {
        display: none;
    }

    .right_nav .d-lg-block {
        display: block;
    }



    .container-centered-lg {
        width: 70%;
        max-width: 1152px;
    }

    #application .col-8-md .card {
        display: flex;
    }

    #application .col-8-md .card > div {
        width: 50%;
    }

    #application img {
        width: 90%;
    }

    #testimonials .card {
        display: flex;
    }

    .col-2-lg {
        width: calc(100% / 12 * 2);
    }

    .col-4-lg {
        width: calc(100% / 12 * 4);
    }

    .col-6-lg {
        width: calc(100% / 12 * 6);
    }

    .container-small-centered-lg {
        width: 40%;
        margin: auto;
    }

    #planning .img-left {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    #planning h2 {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    .develop {
        padding: 2rem;
    }

    #planning .card {
        padding: 10rem 3rem 0 3rem;
    }

    #planning .row .col-6-lg:first-of-type {
        padding-left: 6rem;
    }
}


/* #endregion media query */





/* #region debug */

.debug header {
    border: 1px dashed;
}

.debug .col-12 {
    min-height: 200px;
    border: 1px dashed;
}


/* #endregion debug */



