/* #region commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sr-black: rgb(0, 0, 0); 
    --sr-white: rgb(255, 255, 255); 
    --sr-dark: rgb(51, 51, 51);
    --sr-primary-dark: rgb(0, 132, 253);
    --sr-primary-light: rgb(181, 221, 255);
    --sr-section: rgb(151, 146, 228);
    --sr-danger: rgb(253, 193, 95);
}

body {
    font-family: 'PT Sans', sans-serif;
}

header {
    background-color: var(--sr-primary-dark);
    color: var(--sr-white);
}

a {
    color: var(--sr-white);
    text-decoration: none;
}

img {
    max-width: 100%;
}
/* #endregion commons */





/* #region header */

.left_nav, .right_nav {
    padding: 1rem 0;
}

/* #endregion header */





/* #region main */

/* #application */
#application .col-12 {
    background-color: var(--sr-primary-light);
}

/* #endregion main */





/* #region utilities */

/* flex */
.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 0.5rem;
}

.container-centered-sm {
    width: 90%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.list-unstyled {
    list-style: none;
}

.d-none {
    display: none;
}

/* col */

.col-12 {
    width: 100%;
}

/* #endregion utilities */

/* #region media query */

@media screen and (min-width: 768px) {
    .col-4-md {
    width: calc(100% / 12 * 4);
    }

    .col-8-md {
        width: calc(100% / 12 * 8);
    }

    .col-6-md {
        width: calc(100% / 12 * 6);
    }
}

@media screen and (min-width: 1024px) {
    .right_nav .d-lg-none {
        display: none;
    }

    .right_nav .d-lg-block {
        display: block;
    }

    .container-centered-lg {
        width: 80%;
        max-width: 1152px;
    }

    .col-8-md {
        display: flex;
    }

}


/* #endregion media query */





/* #region debug */

.debug header {
    border: 1px dashed;
}

.debug #application .col-12 {
    min-height: 200px;
    border: 1px dashed;
    margin: 1rem 0;
}

/* #endregion debug */



